<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>595612476374-7nasb8pmra1lkua6j4u1v5rcci2j0gok.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.595612476374-7nasb8pmra1lkua6j4u1v5rcci2j0gok</string>
	<key>API_KEY</key>
	<string>AIzaSyC60GWYqyATNfEC3bx9KcjK9Td-nN4B9Vo</string>
	<key>GCM_SENDER_ID</key>
	<string>595612476374</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.termProject</string>
	<key>PROJECT_ID</key>
	<string>cs310-term-project</string>
	<key>STORAGE_BUCKET</key>
	<string>cs310-term-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:595612476374:ios:953111600a90f25436ba77</string>
</dict>
</plist>